<body>
<h1>Here you cand add your product for sale!</h1>
<form [formGroup]="myForm">
  <mat-form-field appearance="outline">
    <input matInput placeholder="Name" formControlName="name" />
    <mat-error *ngIf="getName?.invalid && getName?.touched">
      You have to write something!
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline">
   
    <textarea matInput placeholder="Description" formControlName="description"></textarea> 
    <mat-error *ngIf="getDescription?.invalid && getDescription?.touched">
      You have to write something!
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline">
  <input matInput placeholder="Price" formControlName="price" />
  <mat-error *ngIf="getPrice?.invalid && getPrice?.touched">
    You have to enter a valid number!
  </mat-error>
</mat-form-field>
<br>
<input
style="display: none"
type="file"
multiple
accept=".jpg"
formControlName="file"
#hiddenfileinput
(change)="onFileSelected($event)"
/>
<br>
<button mat-raised-button color="secondary" (click)="hiddenfileinput.click()">Add Images</button>
<br>
<br>
  <button mat-raised-button color="primary" [disabled]="myForm.invalid" (click)="onSubmit()">
    Add Product
  </button>
</form>
</body>