<body>
  <h1>Here you cand add your product for sale!</h1>
  <form [formGroup]="myForm">
    <mat-form-field appearance="outline" class="form-field">
      <input matInput placeholder="Name" formControlName="title" />
      <mat-error *ngIf="getTitle?.invalid && getTitle?.touched">
        You have to write something!
      </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline" class="form-field">
      <textarea
        matInput
        placeholder="Description"
        formControlName="description"
      ></textarea>
      <mat-error *ngIf="getDescription?.invalid && getDescription?.touched">
        You have to write something!
      </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline" class="form-field">
      <input matInput placeholder="Price" formControlName="price" />
      <mat-error *ngIf="getPrice?.invalid && getPrice?.touched">
        You have to enter a valid number!
      </mat-error>
    </mat-form-field>
    <br />
    <!-- <mat-form-field appearance="outline" class="form-field">
      <mat-label>Start Date</mat-label>

      <input
        matInput
        [matDatepicker]="startDate"
        formControlName="startDate"
        placeholder="Start Date"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="startDate"
      ></mat-datepicker-toggle>
      <mat-datepicker #startDate></mat-datepicker>
      <mat-error *ngIf="getStartDate?.invalid && getStartDate?.touched">
        This field requires a valid date!
      </mat-error>
    </mat-form-field> -->
    <br />
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>End Date</mat-label>

      <input
        matInput
        [matDatepicker]="endDate"
        formControlName="endDate"
        placeholder="End Date"
      />
      <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
      <mat-datepicker #endDate></mat-datepicker>
      <mat-error *ngIf="getEndDate?.invalid && getEndDate?.touched">
        This field requires a valid date!
      </mat-error>
    </mat-form-field>
    <br />
    <button
      mat-raised-button
      color="primary"
      [disabled]="myForm.invalid"
      (click)="onSubmit()"
    >
      Add Product
    </button>
  </form>
</body>
<simple-notifications></simple-notifications>
