<div>
<input matInput placeholder="Search by title"
  [(ngModel)]="filterText"/>
</div>

<div class="container">

  <mat-card *ngFor="let product of lstProducts | filterProduct:filterText" class="example-card" >
    <mat-card-header>
      <mat-card-title>{{product.title}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="product.photoRoute">
    <mat-card-content>
      <p>{{product.description}}</p>
      <p>Price: {{product.actualPrice}}</p>
      <p>Product added on {{createDate(product.createdDate)}}</p>
      <p>The Action will end on {{createDate(product.endDate)}}</p>
    </mat-card-content>
    <mat-card-actions class="course-actions">
      <!-- [routerLink]="['/courses', product.id]" -->
        <button mat-raised-button color="primary" 
        (click)="bidProduct(product.id)">
          BID
        </button>

        <button mat-raised-button color="accent"
        (click)="buyProduct(product.id)"  >
                BUY NOW
        </button>
        <button mat-raised-button color="accent"
        >
        DETAILS
 </button>
    </mat-card-actions>
  </mat-card>
  </div>
  <simple-notifications></simple-notifications>